<div class="hero">
  <div class="hero-content">
    <div class="hero-left">
      <h1>Stop Being Tracked</h1>
      <p>Use Discord with a built-in tracker blocker. It's not right to be tracked when you just want to chat with family and friends.</p>
      <div class="hero-actions">
        <a class="button" href="https://github.com/discord-unspy/discord-unspy/releases/latest">Download</a>
        <i class="fa-brands fa-windows"></i>
        <i class="fa-brands fa-apple"></i>
        <i class="fa-brands fa-linux"></i>
      </div>
    </div>
    <div class="hero-right">
      <img alt="Discord UnSpy Client" src="https://cdn.korbsstudio.com/images/google-pixelbook-du.png">
    </div>
  </div>
</div>