<head>
  <title>Discord UnSpy</title>

  <meta charset="UTF-8">
  <meta name="theme-color" content="#2970cc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">

  <link rel="stylesheet" href="{% asset_path css %}" />
  <link
    rel="icon"
    type="image/x-icon"
    href="https://cdn.korbsstudio.com/images/Discord-UnSpy.png">
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=poppins:300,400,700" rel="stylesheet" />

  <link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>

 </head>
