body {
    background: #5865e8;
    overflow-x: hidden;
    color: white;
}
a {color: white}

header {
    font-size: 14px;
    margin: 32px 0px;
}

@font-face {
  font-family: "PokeTube Flex";
  src: url("https://p.poketube.fun/https://cdn.glitch.global/43b6691a-c8db-41d4-921c-8cf6aa0d9108/robotoflex.ttf?v=1668343428681");
  font-style: normal;
  font-stretch: 1% 800%;
  font-display: swap;
}

.page {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 32px);
    max-width: 1200px;
    font-family: 'PokeTube Flex';
    font-stretch: extra-expanded;
    height: 100%;
    display: grid;
}

.hero {
    .hero-content {
        display: grid;
        align-items: center;
        grid-template-columns: 45% 55%;
        .hero-actions {
            a {
                background: white;
                border: 2px white solid;
                color: black;
                text-decoration: none;
                border-radius: 24px;
                padding: 6px 12px;
                margin-right: 12px;
                font-weight: bold;
                font-size: 14px;
            }
            svg {
                font-size: 18px;
                margin-right: 8px;
            }
        }
    }
    img {
        width: 100%;
    }
}

.footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-size: 14px;
    margin-top: 24px;
    .footer-center {
        text-align: center;
    }
    .footer-right {
        text-align: right;
    }
}

@media only screen and (max-width: 560px) {
    .footer {
        grid-auto-flow: row !important;
        height: 0px;
    }
    .footer-right {
        text-align: left !important;
    }
}
@media only screen and (max-width: 800px) {
    .hero img {
        display: none;
    }
    .hero-content {
        grid-template-columns: auto !important;
    }
}
